<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/Aboutus.css"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web Services</title>
</head>
<body>
    <nav>
        <div><a href="/">web services</a></div>
        <ul>
          
            <li><a  href="/">Home</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/Aboutus">About</a></li>
           
          </ul>
      </nav>
      <div class="services">   
           <h1>More about our product ...</h1>
           <h3 >resposive design</h3> 
           <h3 >seo friendly</h3> 
           <h3 >front & backend ready</h3> 
           



    </div>

</body>
</html>