<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/Contact.css"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web services</title>
</head>
<body>
    <nav>
        <div><a href="/">web Services</a></div>
        <ul>
            
            <li><a  href="/">Home</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/Aboutus">About</a></li>
    

          </ul>
      </nav>
<div class="container">
    <h1>
     contact us :
    </h1>
    <h1> website_service@gmail.com</h1>
</div>
</body>
</html>