<html lang="en">
    <link rel="stylesheet" type="text/css" href="css/Home.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web services</title>
</head>
<body>
    <nav>
        <div><a href="/">Web services</a></div>
        <ul>
          
            <li><a  href="/">Home</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/Aboutus">About</a></li>


          </ul>
      </nav>
      <div class="main">

          <h1>get your web site ready now</h1>
          <p>we can create fully function front & backend website that is repsonsive and  seo friendly</p>
          <button>Buy Now </button>
        </div>
          

     
      
            
    
   
    
</body>
</html>